@* @using FC.Blazor.Extension.Common
@using FC.Blazor.Extension.MoneyIcons *@

@*Top Menu Starts*@
<MudAppBar Bottom="false">

    <MudIconButton Icon="@Icons.Material.Outlined.Menu" Color="Color.Inherit" 
    Class="mr-5" OnClick="@((e) => DrawerToggle())" />

    <div style="width:100%;">
        <MudStack Row="true">
            @if (!_drawerOpen)
            {
                <MudImage Src="img/user.png" Alt="SR Ganesh Ram Ravi"
                          Width="50" Height="45" Elevation="0" Class="rounded-lg pr-2" />
            }

            <MudStack Justify="Justify.Center" Spacing="0">
                <MudText Align="Align.Left" Style="padding-left:0px;" Class="landing-h1-gradient" Typo="Typo.h5" GutterBottom="false">
                    @* @GlobalConfig.AppSettings.Name *@
                    SR Profile App
                </MudText>
                <MudText Typo="Typo.body2">
                    @* @GlobalConfig.AppSettings.Description *@
                    My Profile
                    </MudText>
            </MudStack>
        </MudStack>

    </div>

    <MudSpacer />

    <MudTooltip Text="Add Transaction" Arrow="true" Placement="Placement.Bottom">
        <MudIconButton Icon="@Icons.Material.Filled.AccessTime"
                           Variant="Variant.Filled"
                           Size="Size.Medium" Color="Color.Secondary" />
    </MudTooltip>

</MudAppBar>
@*Top Menu Starts*@
<DesktopSidePanel Drawer="_drawerOpen" Width="18%" />

@code {
    bool _drawerOpen = true;
    string Search = string.Empty;


    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }


    protected override async Task OnInitializedAsync()
    {

    }
}